@model WebGreenhouse.Models.ResetPassWordModel

@{
    ViewBag.Title = "ResetPassword";
    Layout = null;
}

<link href="~/assets/css/ResestFrom.css" rel="stylesheet" />
<script src="~/assets/js/bootstrap.min.js"></script>
@Styles.Render("~/Content/css")
<html>
<body class="container">
    <div class="container">
        <div class="contact__wrapper shadow-lg mt-n9">
            <div class="row no-gutters">
                <div class="col-lg-5 contact-info__wrapper gradient-brand-color p-5 order-lg-2">
                    <h3 class="color--white mb-5">Liên Hệ</h3>

                    <ul class="contact-info__list list-style--none position-relative z-index-101">
                        <li class="mb-4 pl-4">
                            <span class="position-absolute"><i class="fas fa-envelope"></i></span> ngokhanh858@gmail.com
                        </li>
                        <li class="mb-4 pl-4">
                            <span class="position-absolute"><i class="fas fa-phone"></i></span> (+84) 2706 198
                        </li>
                        <li class="mb-4 pl-4">
                            <span class="position-absolute"><i class="fas fa-map-marker-alt"></i></span> bootdey Technologies Inc.
                            <br> 2694 Queen City Rainbow Drive
                            <br> Florida 99161

                            <div class="mt-3">
                                <a href="#" target="_blank" class="text-link link--right-icon text-white">Theo Địa Chỉ <i class="link__icon fa fa-directions"></i></a>
                            </div>
                        </li>
                    </ul>
                </div>

                <div class="col-lg-7 contact-form__wrapper p-5 order-lg-1">
                    @using (Html.BeginForm("ResestPassWord", "Login", FormMethod.Post))
                    {
                        @Html.AntiForgeryToken()

                        <div class="form-group">
                            <span>Cập Nhật Lại Mật Khẩu</span>
                            <hr />
                            @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                            <div class="form-group">
                                <span class="control-label col-md-2" for="formGroupExampleInput">Mật Khẩu Mới</span>
                                <div class="col-md-10">
                                    @Html.EditorFor(model => model.NewPassWord, new { htmlAttributes = new { @class = "form-control", @id = "formGroupExampleInput", @placeholder = "Mời nhập mật khẩu"}})
                                    @Html.ValidationMessageFor(model => model.NewPassWord, "", new { @class = "text-danger" })
                                </div>
                            </div>

                            <div class="form-group">
                                @*@Html.LabelFor(model => model.ConfirmPassWord, htmlAttributes: new { @class = "control-label col-md-2",@for= "formGroupExampleInput2" })*@
                                <span class="control-label col-md-2" for="formGroupExampleInput2">Xác Nhận Lại Mật Khẩu</span>
                                <div class="col-md-10">
                                    @Html.EditorFor(model => model.ConfirmPassWord, new { htmlAttributes = new { @class = "form-control", @id = "formGroupExampleInput2", @placeholder = "Xác Nhận Lại mật khẩu" }, })
                                    @Html.ValidationMessageFor(model => model.ConfirmPassWord, "", new { @class = "text-danger" })
                                </div>
                            </div>

                            <div class="form-group">
                                @Html.HiddenFor(model => model.ResetCode)
                            </div>

                            <div class="form-group">
                                <div class="col-md-offset-2 col-md-10">
                                    <input type="submit" value="Cập nhật" class="btn btn-outline-danger" />
                                </div>
                            </div>
                        </div>
                    }
                </div>
                <!-- End Contact Form Wrapper -->

            </div>
        </div>
    </div>
</body>
</html>

