@model IEnumerable<Model.EF.Order>

@{
    ViewBag.Title = "Index";
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
}
<link href="~/assets/css/TableTheme.css" rel="stylesheet" />
<html>
<body>
    <div class="preloader"></div>
    <div class="bootstrap snippets bootdey" style="padding:40px">
        <div class="row">
            <div class="col-lg-12">
                <div class="main-box no-header clearfix">
                    <div class="main-box-body clearfix">
                        <div class="table-responsive">
                            <table class="table">
                                <thead>
                                    <tr>
                                        <th>
                                            Tên Khách Hàng
                                        </th>
                                        <th>
                                            Địa Chỉ
                                        </th>
                                        <th>
                                            Email
                                        </th>
                                        <th>
                                            Số Điện Thoại
                                        </th>
                                        <th>
                                            Ngày Tạo
                                        </th>
                                        <th>
                                            Trạng Thái
                                        </th>
                                        <th></th>
                                    </tr>
                                </thead>
                                <tbody>
                                    @foreach (var item in Model)
                                    {
                                        <tr>
                                            <td>
                                                @Html.DisplayFor(modelItem => item.CustomerName)
                                            </td>
                                            <td>
                                                @Html.DisplayFor(modelItem => item.CustomerAddress)
                                            </td>
                                            <td>
                                                @Html.DisplayFor(modelItem => item.CustomerEmail)
                                            </td>
                                            <td>
                                                @Html.DisplayFor(modelItem => item.CustomerMobile)
                                            </td>
                                            <td>
                                                @Html.FormatValue(item.CreatedDate, "{0:dd/MM/yyyy}")
                                            </td>
                                            <td>
                                                @if (item.Status == 1)
                                                {
                                                    <p class="badge badge-warning">Đã Liên Hệ</p>
                                                }
                                                else if (item.Status == 0)
                                                {
                                                    <p class="badge badge-danger">Chưa Liên Hệ</p>
                                                }
                                                else if (item.Status == 3)
                                                {
                                                    <p class="badge badge-success">Bán Thành Công</p>
                                                }
                                                else
                                                {
                                                    <p class="badge badge-secondary">Đã hủy</p>
                                                }
                                            </td>
                                            <td>
                                                <a href="@Url.Action("Edit","Orders",new { id = item.OrderID})"><i class="fa fa-edit"></i></a>
                                                <a href="@Url.Action("Details","Orders",new { id = item.OrderID})"><i class="fa fa-sliders-h"></i></a>
                                                <a href="@Url.Action("Delete","Orders",new { id = item.OrderID})"><i class="fa fa-times-circle"></i></a>
                                            </td>
                                        </tr>
                                    }
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>
</html>