@model Model.EF.Post

@{
    ViewBag.Title = "Details";
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
}
<link href="~/assets/css/TableTheme.css" rel="stylesheet" />
<html>
<body>
    <div class="preloader"></div>
    <div class="bootstrap snippets bootdey" style="padding:40px">
        <div class="row">
            <div class="col-lg-12">
                <div class="main-box no-header clearfix">
                    <div class="main-box-body clearfix">
                        <div class="table-responsive">
                            <dl class="dl-horizontal">
                                <dt>
                                    @Html.DisplayNameFor(model => model.PostCategory.NameCate)
                                </dt>

                                <dd>
                                    @Html.DisplayFor(model => model.PostCategory.NameCate)
                                </dd>

                                <dt>
                                    @Html.DisplayNameFor(model => model.User.UserName)
                                </dt>

                                <dd>
                                    @Html.DisplayFor(model => model.User.UserName)
                                </dd>

                                <dt>
                                    @Html.DisplayNameFor(model => model.Name)
                                </dt>

                                <dd>
                                    @Html.DisplayFor(model => model.Name)
                                </dd>

                                <dt>
                                    @Html.DisplayNameFor(model => model.Alias)
                                </dt>

                                <dd>
                                    @Html.DisplayFor(model => model.Alias)
                                </dd>

                                <dt>
                                    @Html.DisplayNameFor(model => model.Images)
                                </dt>

                                <dd>
                                    @Html.DisplayFor(model => model.Images)
                                </dd>

                                <dt>
                                    @Html.DisplayNameFor(model => model.Images2)
                                </dt>

                                <dd>
                                    @Html.DisplayFor(model => model.Images2)
                                </dd>

                                <dt>
                                    @Html.DisplayNameFor(model => model.Description)
                                </dt>

                                <dd>
                                    @Html.DisplayFor(model => model.Description)
                                </dd>

                                <dt>
                                    @Html.DisplayNameFor(model => model.Content)
                                </dt>

                                <dd>
                                    @Html.DisplayFor(model => model.Content)
                                </dd>

                                <dt>
                                    @Html.DisplayNameFor(model => model.HomeFlag)
                                </dt>

                                <dd>
                                    @Html.DisplayFor(model => model.HomeFlag)
                                </dd>

                                <dt>
                                    @Html.DisplayNameFor(model => model.HotFlag)
                                </dt>

                                <dd>
                                    @Html.DisplayFor(model => model.HotFlag)
                                </dd>

                                <dt>
                                    @Html.DisplayNameFor(model => model.ViewCount)
                                </dt>

                                <dd>
                                    @Html.DisplayFor(model => model.ViewCount)
                                </dd>

                                <dt>
                                    @Html.DisplayNameFor(model => model.Tags)
                                </dt>

                                <dd>
                                    @Html.DisplayFor(model => model.Tags)
                                </dd>

                                <dt>
                                    @Html.DisplayNameFor(model => model.ActiveDate)
                                </dt>

                                <dd>
                                    @Html.DisplayFor(model => model.ActiveDate)
                                </dd>

                                <dt>
                                    @Html.DisplayNameFor(model => model.IsSetTime)
                                </dt>

                                <dd>
                                    @Html.DisplayFor(model => model.IsSetTime)
                                </dd>

                                <dt>
                                    @Html.DisplayNameFor(model => model.ImageFB)
                                </dt>

                                <dd>
                                    @Html.DisplayFor(model => model.ImageFB)
                                </dd>

                                <dt>
                                    @Html.DisplayNameFor(model => model.StructureID)
                                </dt>

                                <dd>
                                    @Html.DisplayFor(model => model.StructureID)
                                </dd>

                                <dt>
                                    @Html.DisplayNameFor(model => model.CreateDate)
                                </dt>

                                <dd>
                                    @Html.DisplayFor(model => model.CreateDate)
                                </dd>

                                <dt>
                                    @Html.DisplayNameFor(model => model.CreatedBy)
                                </dt>

                                <dd>
                                    @Html.DisplayFor(model => model.CreatedBy)
                                </dd>

                                <dt>
                                    @Html.DisplayNameFor(model => model.UpdatedDate)
                                </dt>

                                <dd>
                                    @Html.DisplayFor(model => model.UpdatedDate)
                                </dd>

                                <dt>
                                    @Html.DisplayNameFor(model => model.UpdatedBy)
                                </dt>

                                <dd>
                                    @Html.DisplayFor(model => model.UpdatedBy)
                                </dd>

                                <dt>
                                    @Html.DisplayNameFor(model => model.MetaKeyword)
                                </dt>

                                <dd>
                                    @Html.DisplayFor(model => model.MetaKeyword)
                                </dd>

                                <dt>
                                    @Html.DisplayNameFor(model => model.MetaDescription)
                                </dt>

                                <dd>
                                    @Html.DisplayFor(model => model.MetaDescription)
                                </dd>

                                <dt>
                                    @Html.DisplayNameFor(model => model.Status)
                                </dt>

                                <dd>
                                    @Html.DisplayFor(model => model.Status)
                                </dd>

                                <dt>
                                    @Html.DisplayNameFor(model => model.Address)
                                </dt>

                                <dd>
                                    @Html.DisplayFor(model => model.Address)
                                </dd>

                                <dt>
                                    @Html.DisplayNameFor(model => model.Price)
                                </dt>

                                <dd>
                                    @Html.DisplayFor(model => model.Price)
                                </dd>

                            </dl>
                        </div>
                        <p>
                            @Html.ActionLink("Edit", "Edit", new { id = Model.ID }) |
                            @Html.ActionLink("Back to List", "Index")
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>
</html>
