@using WebGreenhouse.Common
@{
    ViewBag.Title = "ChangePassWord";
}
@section Scripts{
    <script>
        setTimeout(function () {
            $('.notification span').fadeOut(3000);
        }, 1500);
    </script>
}
<html lang="en">

<!-- Mirrored from themezhub.net/rentup-live/rentup/change-password.html by HTTrack Website Copier/3.x [XR&CO'2014], Wed, 25 Aug 2021 09:14:04 GMT -->
<head>
    <meta charset="utf-8" />
    <meta name="author" content="Themezhub" />
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>RentUP - Residence & Real Estate Template</title>

    <!-- Custom CSS -->
    <link href="assets/css/styles.css" rel="stylesheet">

</head>

<body class="yellow-skin">
    <!-- ============================================================== -->
    <!-- Preloader - style you can find in spinners.css -->
    <!-- ============================================================== -->
    <div class="preloader"></div>

    <!-- ============================================================== -->
    <!-- Main wrapper - style you can find in pages.scss -->
    <!-- ============================================================== -->
    <div id="main-wrapper">
        <div class="clearfix"></div>

        <div class="page-title" style="background:#f4f4f4 url(assets/img/slider-5.jpg);" data-overlay="5">
            <div class="container">
                <div class="row">
                    <div class="col-lg-12 col-md-12">

                        <div class="breadcrumbs-wrap">
                            <ol class="breadcrumb">
                                <li class="breadcrumb-item active" aria-current="page">Change Password</li>
                            </ol>
                            <h2 class="breadcrumb-title">Edit or Change Password</h2>
                        </div>

                    </div>
                </div>
            </div>
        </div>
        <!-- ============================ Page Title End ================================== -->
        <!-- ============================ User Dashboard ================================== -->
        <section class="gray pt-5 pb-5">
            <div class="container-fluid">

                <div class="row">

                    @foreach (var customer in Model)
                    {
                        <div class="col-lg-3 col-md-4 col-sm-12">
                            <div class="property_dashboard_navbar">

                                <div class="dash_user_avater">
                                    <img src="@customer.Avata" class="img-fluid avater" typeof="file" alt="">

                                    <h4>@customer.CustomerName</h4>
                                    Công Việc : <span>@customer.CustomerWork</span>
                                </div>

                                <div class="dash_user_menues">
                                    <ul>
                                        <li><a href="/profile/profile/@Session["ID"]"><i class="fa fa-user-tie"></i>Thông Tin</a></li>
                                        <li><a href="bookmark-list.html"><i class="fa fa-bookmark"></i>Lưu Bài Yêu Thích<span class="notti_coun style-2">7</span></a></li>
                                        <li><a href="/profile/historyorder/@Session["ID"]"><i class="fa fa-tasks"></i>Đơn Hàng Đang Chờ <span class="notti_coun style-3">3</span></a></li>
                                        <li><a href="messages.html"><i class="fa fa-envelope"></i>Tin Nhắn<span class="notti_coun style-3">3</span></a></li>
                                        <li class="active"><a href="/Profile/ChangePassword/@Session["ID"]"><i class="fa fa-unlock-alt"></i>Thay Đổi Mật Khẩu</a></li>
                                    </ul>
                                </div>

                                <div class="dash_user_footer">
                                    <ul>
                                        <li><a href="/home/logout"><i class="fa fa-power-off"></i></a></li>
                                        <li><a href="#"><i class="fa fa-comment"></i></a></li>
                                        <li><a href="/profile/Edit/@customer.CustomerID"><i class="fa fa-cog"></i></a></li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    }

                        <div class="col-lg-9 col-md-8">
                            <div class="dashboard-body">

                                <div class="dashboard-wraper">
                                    <div class="notification">
                                        <span class="badge badge-success">@ViewBag.success</span>
                                    </div>
                                    <!-- Basic Information -->
                                    <div class="frm_submit_block">
                                        <h4>Thay Đổi Mật Khẩu Của Bạn</h4>
                                        <div class="frm_submit_wrap">
                                            <div class="notification">
                                                <span class="badge badge-danger">@ViewBag.err</span>
                                            </div>
                                            <div class="form-row">
                                                @using (Html.BeginForm("ChangePassWord", "Profile", FormMethod.Post, new { @class = "form-row" }))
                                                {
                                                    <div class="form-group col-lg-12 col-md-6">
                                                        <label>Mật Khẩu Cũ</label>
                                                        <input type="password" name="PassOld" class="form-control" required>
                                                    </div>

                                                    <div class="form-group col-md-6">
                                                        <label>Mật Khẩu Mới</label>
                                                        <input type="password" name="PassNew" class="form-control" required>
                                                    </div>

                                                    <div class="form-group col-md-6">
                                                        <label>Xác Nhận Mật Khẩu</label>
                                                        <input type="password" name="PassConfirm" class="form-control" required>
                                                    </div>

                                                    <div class="form-group col-lg-12 col-md-12">
                                                        <button class="btn btn-success" type="submit">Lưu</button>
                                                        <a class="btn btn-warning" href="@Url.Action("Profile","Profile",new { id = Session[CommonStants.ID_Customer]})">Trở về</a>
                                                    </div>
                                                }
                                            </div>
                                        </div>
                                    </div>

                                </div>

                            </div>
                        </div>

                    </div>
            </div>
        </section>
        <a id="back2Top" class="top-scroll" title="Back to top" href="#"><i class="ti-arrow-up"></i></a>


    </div>
</body>

<!-- Mirrored from themezhub.net/rentup-live/rentup/change-password.html by HTTrack Website Copier/3.x [XR&CO'2014], Wed, 25 Aug 2021 09:14:04 GMT -->
</html>

