@model Model.EF.OrderDetail

@{
    ViewBag.Title = "Details";
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
}

<h2>Details</h2>

<div>
    <h4>OrderDetail</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Order.CustomerName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Order.CustomerName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Post.Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Post.Name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Quantity)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Quantity)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Price)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Price)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ColorId)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ColorId)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.SizeId)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.SizeId)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { /* id = Model.PrimaryKey */ }) |
    @Html.ActionLink("Back to List", "Index")
</p>
